[package]
name = "steamlocate"
version = "2.0.0-alpha.0"
authors = ["William Venner <william@venner.io>"]
edition = "2018"
repository = "https://github.com/WilliamVenner/steamlocate-rs"
license = "MIT"
description = "Rust Crate for locating Steam game installation directories (and Steam itself!)"
readme = "README.md"
keywords = ["steam", "vdf", "appmanifest", "directory", "steamapps"]
categories = ["os", "hardware-support", "filesystem", "accessibility"]

[features]
default = []
shortcuts_extras = ["crc"]

[dependencies]
keyvalues-parser = "0.2"
keyvalues-serde = "0.2"
serde = { version = "1.0.0", features = ["derive"] }

crc = { version = "3.0", optional = true }

[target.'cfg(target_os="windows")'.dependencies]
winreg = "0.51"
[target.'cfg(not(target_os="windows"))'.dependencies]
dirs = "5"

[dev-dependencies]
insta = { version = "1.34.0", features = ["redactions", "ron"] }
