[package]
name = "steamlocate"
version = "0.1.4"
authors = ["William Venner <william@venner.io>"]
edition = "2018"
repository = "https://github.com/WilliamVenner/steamlocate-rs"
license = "MIT"
description = "Rust Crate for locating Steam game installation directories (and Steam itself!)"
readme = "README.md"
keywords = ["steam", "vdf", "appmanifest", "directory", "steamapps"]
categories = ["os", "hardware-support", "filesystem", "accessibility"]

[features]
steamid_ng = ["steamid-ng"]

[dependencies]
steamy-vdf = "0.*.*"
anyhow = "1.*"
regex = "1.*"
lazy_static = "1.*"
steamid-ng = { version = "1.*", optional = true }

[target.'cfg(target_os="windows")'.dependencies]
winreg = "0.*"
[target.'cfg(not(target_os="windows"))'.dependencies]
dirs = "3.*"
